/* SPRITES */
@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  background-repeat: no-repeat;
}

@mixin transition($property:all, $time:0.3s, $ease:ease) {
  transition: $property $time $ease;
}

// Breakpoint
@mixin breakpoint($min:null, $max:null) {
  @if $max == null {
    @media screen and (max-width: $min){ @content ; }
  }
  @else{
    @media screen and (min-width: $min) and (max-width:$max) { @content ; }
  }
}