// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-name: 'icon_arrow';
$icon-arrow-x: 0px;
$icon-arrow-y: 0px;
$icon-arrow-offset-x: 0px;
$icon-arrow-offset-y: 0px;
$icon-arrow-width: 15px;
$icon-arrow-height: 9px;
$icon-arrow-total-width: 113px;
$icon-arrow-total-height: 685px;
$icon-arrow-image: 'img/sprite.png';
$icon-arrow: (0px, 0px, 0px, 0px, 15px, 9px, 113px, 685px, 'img/sprite.png', 'icon_arrow', );
$icon-bateria-name: 'icon_bateria';
$icon-bateria-x: 0px;
$icon-bateria-y: 347px;
$icon-bateria-offset-x: 0px;
$icon-bateria-offset-y: -347px;
$icon-bateria-width: 82px;
$icon-bateria-height: 61px;
$icon-bateria-total-width: 113px;
$icon-bateria-total-height: 685px;
$icon-bateria-image: 'img/sprite.png';
$icon-bateria: (0px, 347px, 0px, -347px, 82px, 61px, 113px, 685px, 'img/sprite.png', 'icon_bateria', );
$icon-certificado-name: 'icon_certificado';
$icon-certificado-x: 0px;
$icon-certificado-y: 498px;
$icon-certificado-offset-x: 0px;
$icon-certificado-offset-y: -498px;
$icon-certificado-width: 84px;
$icon-certificado-height: 78px;
$icon-certificado-total-width: 113px;
$icon-certificado-total-height: 685px;
$icon-certificado-image: 'img/sprite.png';
$icon-certificado: (0px, 498px, 0px, -498px, 84px, 78px, 113px, 685px, 'img/sprite.png', 'icon_certificado', );
$icon-checked-amarelo-name: 'icon_checked_amarelo';
$icon-checked-amarelo-x: 0px;
$icon-checked-amarelo-y: 132px;
$icon-checked-amarelo-offset-x: 0px;
$icon-checked-amarelo-offset-y: -132px;
$icon-checked-amarelo-width: 26px;
$icon-checked-amarelo-height: 26px;
$icon-checked-amarelo-total-width: 113px;
$icon-checked-amarelo-total-height: 685px;
$icon-checked-amarelo-image: 'img/sprite.png';
$icon-checked-amarelo: (0px, 132px, 0px, -132px, 26px, 26px, 113px, 685px, 'img/sprite.png', 'icon_checked_amarelo', );
$icon-checked-green-name: 'icon_checked_green';
$icon-checked-green-x: 0px;
$icon-checked-green-y: 43px;
$icon-checked-green-offset-x: 0px;
$icon-checked-green-offset-y: -43px;
$icon-checked-green-width: 19px;
$icon-checked-green-height: 15px;
$icon-checked-green-total-width: 113px;
$icon-checked-green-total-height: 685px;
$icon-checked-green-image: 'img/sprite.png';
$icon-checked-green: (0px, 43px, 0px, -43px, 19px, 15px, 113px, 685px, 'img/sprite.png', 'icon_checked_green', );
$icon-checked-green-ball-name: 'icon_checked_green_ball';
$icon-checked-green-ball-x: 0px;
$icon-checked-green-ball-y: 283px;
$icon-checked-green-ball-offset-x: 0px;
$icon-checked-green-ball-offset-y: -283px;
$icon-checked-green-ball-width: 54px;
$icon-checked-green-ball-height: 54px;
$icon-checked-green-ball-total-width: 113px;
$icon-checked-green-ball-total-height: 685px;
$icon-checked-green-ball-image: 'img/sprite.png';
$icon-checked-green-ball: (0px, 283px, 0px, -283px, 54px, 54px, 113px, 685px, 'img/sprite.png', 'icon_checked_green_ball', );
$icon-close-red-name: 'icon_close_red';
$icon-close-red-x: 0px;
$icon-close-red-y: 19px;
$icon-close-red-offset-x: 0px;
$icon-close-red-offset-y: -19px;
$icon-close-red-width: 14px;
$icon-close-red-height: 14px;
$icon-close-red-total-width: 113px;
$icon-close-red-total-height: 685px;
$icon-close-red-image: 'img/sprite.png';
$icon-close-red: (0px, 19px, 0px, -19px, 14px, 14px, 113px, 685px, 'img/sprite.png', 'icon_close_red', );
$icon-close-red-ball-name: 'icon_close_red_ball';
$icon-close-red-ball-x: 0px;
$icon-close-red-ball-y: 219px;
$icon-close-red-ball-offset-x: 0px;
$icon-close-red-ball-offset-y: -219px;
$icon-close-red-ball-width: 54px;
$icon-close-red-ball-height: 54px;
$icon-close-red-ball-total-width: 113px;
$icon-close-red-ball-total-height: 685px;
$icon-close-red-ball-image: 'img/sprite.png';
$icon-close-red-ball: (0px, 219px, 0px, -219px, 54px, 54px, 113px, 685px, 'img/sprite.png', 'icon_close_red_ball', );
$icon-globe-name: 'icon_globe';
$icon-globe-x: 0px;
$icon-globe-y: 168px;
$icon-globe-offset-x: 0px;
$icon-globe-offset-y: -168px;
$icon-globe-width: 42px;
$icon-globe-height: 41px;
$icon-globe-total-width: 113px;
$icon-globe-total-height: 685px;
$icon-globe-image: 'img/sprite.png';
$icon-globe: (0px, 168px, 0px, -168px, 42px, 41px, 113px, 685px, 'img/sprite.png', 'icon_globe', );
$icon-inmetro-name: 'icon_inmetro';
$icon-inmetro-x: 0px;
$icon-inmetro-y: 586px;
$icon-inmetro-offset-x: 0px;
$icon-inmetro-offset-y: -586px;
$icon-inmetro-width: 113px;
$icon-inmetro-height: 99px;
$icon-inmetro-total-width: 113px;
$icon-inmetro-total-height: 685px;
$icon-inmetro-image: 'img/sprite.png';
$icon-inmetro: (0px, 586px, 0px, -586px, 113px, 99px, 113px, 685px, 'img/sprite.png', 'icon_inmetro', );
$icon-loader-name: 'icon_loader';
$icon-loader-x: 0px;
$icon-loader-y: 100px;
$icon-loader-offset-x: 0px;
$icon-loader-offset-y: -100px;
$icon-loader-width: 22px;
$icon-loader-height: 22px;
$icon-loader-total-width: 113px;
$icon-loader-total-height: 685px;
$icon-loader-image: 'img/sprite.png';
$icon-loader: (0px, 100px, 0px, -100px, 22px, 22px, 113px, 685px, 'img/sprite.png', 'icon_loader', );
$icon-message-name: 'icon_message';
$icon-message-x: 0px;
$icon-message-y: 68px;
$icon-message-offset-x: 0px;
$icon-message-offset-y: -68px;
$icon-message-width: 51px;
$icon-message-height: 22px;
$icon-message-total-width: 113px;
$icon-message-total-height: 685px;
$icon-message-image: 'img/sprite.png';
$icon-message: (0px, 68px, 0px, -68px, 51px, 22px, 113px, 685px, 'img/sprite.png', 'icon_message', );
$icon-pessoas-name: 'icon_pessoas';
$icon-pessoas-x: 0px;
$icon-pessoas-y: 418px;
$icon-pessoas-offset-x: 0px;
$icon-pessoas-offset-y: -418px;
$icon-pessoas-width: 60px;
$icon-pessoas-height: 70px;
$icon-pessoas-total-width: 113px;
$icon-pessoas-total-height: 685px;
$icon-pessoas-image: 'img/sprite.png';
$icon-pessoas: (0px, 418px, 0px, -418px, 60px, 70px, 113px, 685px, 'img/sprite.png', 'icon_pessoas', );
$spritesheet-width: 113px;
$spritesheet-height: 685px;
$spritesheet-image: 'img/sprite.png';
$spritesheet-sprites: ($icon-arrow, $icon-bateria, $icon-certificado, $icon-checked-amarelo, $icon-checked-green, $icon-checked-green-ball, $icon-close-red, $icon-close-red-ball, $icon-globe, $icon-inmetro, $icon-loader, $icon-message, $icon-pessoas, );
$spritesheet: (113px, 685px, 'img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
