/* Grid
========================================================================== */
$container: 1170px;
$gutter: 15px;
$width-mobile: 767px;

/* Color
========================================================================== */
$color-main: #1b1b1b;
$color-sec: #3c3c3c;
