.page-contact {
    .section-title {
        text-align: center;
        margin-bottom: 15px;
    }

    .subtitle {
        text-align: center;
        margin-bottom: 50px;
        color: #4a4a4a;
        font-size: 2rem;
        font-weight: 400;
    }

    .contact-info {
        display: flex;
        max-width: 750px;
        margin: 0 auto;
        margin-bottom: 20px;

        section {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            border-left: 1px solid #e4e4e4;
            border-right: 1px solid #e4e4e4;
            padding: 0 20px;

            &:first-child {
                border-right: none;
            }

            p {
                width: 100%;
                text-align: center;
                color: #124594;
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: 10px;

                &:after {
                    content: '';
                    display: block;
                    width: 40px;
                    height: 1px;
                    border-top: 3px solid #ffce00;
                    margin: 20px auto auto;
                }
            }

            span {
                color: #4a4a4a;
                font-size: 1.6rem;
                font-weight: 500;
                text-align: center;
            }

            a {
                color: #2865c2;
                font-size: 1.6rem;
                font-weight: 500;
                text-align: center;
            }
        }

        .icon {
            width: 100px;
            height: 70px;
            border: 1px solid #e8e8e8;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;

            &.icon-message {
                &:before {
                    content: '';
                    @include sprite($icon_message);
                }
            }

            &.icon-globe {
                &:before {
                    content: '';
                    @include sprite($icon_globe);
                }
            }
        }
    }

    .box-form {
        border: 2px solid #ffce00;
        margin-bottom: 50px;

        .title-form {
            color: #fff;
            font-size: 3rem;
            font-weight: 700;
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
        }

        form {
            width: 100%;
            background: url(img/layout/bg-contact.png) no-repeat;
            border: 2px solid #fff;
            padding: 50px;
            background-size: cover;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .form-control {
                height: 60px;
                border: 1px solid rgba(255, 255, 255, 0.52);
                background-color: rgba(23, 42, 118, 0.37);
                padding-left: 20px;
                width: 100%;
                margin-bottom: 15px;

                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #fff;
                }

                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #fff;
                }

                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: #fff;
                }

                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: #fff;
                }

                &.col {
                    max-width: calc(50% - 5px);
                }
            }

            .btn{
                border:none;
                margin: 30px auto auto;
            }

            textarea {
                padding-top: 20px;
                height: 133px !important;
            }
        }
    }
}

@include breakpoint(767px){
    .page-contact{
        .contact-info{
            flex-wrap: wrap;
            section{
                border:none;
                padding: 0;
                width: 100%;
                margin-bottom:30px;
                .icon{
                    margin-bottom:10px;
                }
            }
        }
        .box-form{
            form{
                padding:20px;
                .form-control{
                    &.col{
                        max-width: 100%;
                    }
                }
            }
        }
    }
}