.latest-news{
    .section-title{
        text-align: center;
        margin-bottom:40px;
    }

    .news{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .featured-news{
            margin-right:30px;
            width: 50%;
        }
        .list-news{
            width: 50%;
        }
    }
}

.slope{
    &.abrabat{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        img{
            position: relative;
            z-index: 3;
            margin-bottom: -130px;
        }
        p{
            display: block;
            width: 100%;
            color: #ffffff;
            font-size: 2rem;
            text-align: center;
            b{
                color: #ffce00;
                font-weight: 700;
            }
        }
    }
    &.book-abrabat{
        .description{
            position: relative;
            z-index:3;
            display: flex;
            align-items: center;
            top:60px;
            max-width: 630px;
            margin:0 auto;
            img{
                margin-right:40px;
            }
            .description-content{
                h4{
                    color: #fff;
                    font-size: 3rem;
                    margin-bottom:15px;
                }
                p{
                    color: #ffffff;
                    font-size: 1.6rem;
                    font-weight: 400;
                }
                .btn{
                    float: left;
                    margin-top:20px;
                    width: 175px;
                    height: 40px;
                    border-radius: 2px;
                    border: 1px solid #ffffff;
                }
            }
        }
    }
}

.certified-inmetro{
    .description{
        max-width: 700px;
        margin:0 auto 50px auto;
        text-align: center;
        .icon_certified{
            @include sprite($icon_certificado);
            margin: 0 auto 20px auto;
        }
        p{
            color: #474747;
            font-size: 1.6rem;
            font-weight: 700;
        }
    }

    .comparative{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .ensure{
            margin-bottom:40px;
            &.ensured{
                border-right: 1px dashed #d4d4d4;
                padding-right:30px;
                width: 55%;
                .title-ensure{
                    b{
                        color: #00944a;
                    }
                    .icon_title{
                        @include sprite($icon_checked_green_ball);
                        margin-left: 200px;
                        margin-bottom:30px;
                    }
                }
            }
            &.not-ensured{
                width: 45%;
                padding-left:30px;
                .title-ensure{
                    b{
                        color: #e9465a;
                    }
                    .icon_title{
                        @include sprite($icon_close_red_ball);
                        margin-left: 200px;
                        margin-bottom:30px;
                    }
                }
            }
            .title-ensure{
                color: #172a76;
                font-size: 2.3rem;
                font-weight: 700;
                text-transform: uppercase;
                color: #124594;
                margin-bottom:40px;
            }
            .list-ensure{
                li{
                    position: relative;
                    padding-left: 36px;
                    p{
                        color: #474747;
                        font-size: 1.6rem;
                        font-weight: 400;
                        margin-bottom:30px;
                    }
                    .icon_checked{
                        @include sprite($icon_checked_green);
                        position: absolute;
                        top:2px;
                        left: 0;
                    }

                    .icon_close{
                        @include sprite($icon_close_red);
                        position: absolute;
                        top:2px;
                        left: 0;
                    }
                }
            }
        }
    }

    .description-inmetro{
        border: 2px solid #172a76;
        position: relative;
        padding:70px 30px 30px;
        max-width: 900px;
        margin:70px auto;
        .box-icon{
            background: #fff;
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translate(-50%,0);
            padding: 0 20px;
        }
        .icon_inmetro{
            @include sprite($icon_inmetro);
        }

        p{
            color: #172a76;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 24px;
        }
    }
}

.about{
    .description{
        text-align: center;
        .icon_users{
            @include sprite($icon_pessoas);
            margin:0 auto;
        }
        p{
            span{
                color: #172a76;
            }
            font-size: 2rem;
            font-weight: 700;
            color: #4a4a4a;
        }
        b{
            margin:30px 0;
            padding:15px;
            display: inline-block;
            border: 1px solid #172a76;
            color: #172a76;
            font-size: 2rem;
            font-weight: 700;
            span{
                font-weight: 400;
            }
        }
    }
    .about-list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        ul{
            width: 47%;
            li{
                margin-bottom: 20px;
                padding-left: 46px;
                position: relative;
                .icon_checked{
                    @include sprite($icon_checked_amarelo);
                    position: absolute;
                    top:0px;
                    left:0;
                }
                p{
                    color: #474747;
                    font-size: 1.6rem;
                    line-height: 24px;
                }
            }
        }
    }
}

@include breakpoint(900px){
    .news{
        .list-news{
            article{
                img{
                    max-width: 150px;
                }
                .content-news{
                    h3{
                        font-size: 1.8rem
                    }
                    p{
                        display: none;
                    }
                }
            }
        }
    }
    .steps{
        .btn{
            margin:40px auto;
        }
        ul{
            flex-wrap: wrap;
            li{
                width: 100%;
                display: flex;
                align-items: flex-start;
                margin-bottom: 30px;
                img{
                    max-width: 150px;
                    margin-bottom: 0;
                }
                p{
                    margin: 20px 0 0 20px;
                    font-size: 1.8rem;
                }
            }
        }
    }
    .about{
        .about-list{
            flex-wrap: wrap;
            ul{
                width: 100%;
                li{
                    width: 100%;
                }
            }
        }
    }
}

@include breakpoint(750px){
    .latest-news {
        .news{
            flex-wrap: wrap;
            .featured-news{
                width: 100%;
                margin-right: 0;
                margin-bottom:30px;
                img{
                    width: 100%;
                }
            }
            .list-news{
                width: 100%;
                article{
                    a{
                        justify-content: flex-start;
                    }
                    img{
                        max-width: 150px;
                    }
                    .content-news{
                        h3{
                            font-size: 1.8rem
                        }
                        p{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .certified-inmetro{
        .comparative{
            flex-wrap: wrap;
            .ensure{
                margin-bottom: 0;
                &.ensured{
                    padding: 0;    
                    margin-right: 0;
                    border:none;
                }
                &.not-ensured{
                    padding: 0; 
                }
                width: 100%!important;
                .title-ensure{
                    text-align: center;
                    .icon_title{
                        margin:0 auto 20px!important;
                    }
                }
            }
        }
    }
}