.footer {
  width: 100%;
  height: 420px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(-88deg, #172a76 0%, #124ea9 100%);

  .border {
    transform: rotate(180deg);

    &:before {
      content: '';
      display: block;
      width: 110%;
      height: 200px;
      background: #fff;
      transform: rotate(-5deg);
      position: absolute;
      bottom: -130px;
      z-index: 3;
      left: 0;
    }

    .inner {

      &:after,
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 200px;
        background: #fff;
        transform: rotate(-5deg);
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &:after {
        height: 110px;
        background: #00944a;
        z-index: 2;
        transform: rotate(-6deg);
        width: calc(100% + 50px);
        bottom: -28px;
        left: -10px;
      }

      &:before {
        background: #ffce00;
        z-index: 1;
        margin-left: 10px;
        transform: rotate(-7deg);
        height: 93px;
      }
    }
  }

  .logo-footer{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }

  .menu-footer{
    position: absolute;
    bottom:60px;
    left:0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom:1px solid #2355a8;
    padding-bottom:30px;
    li{
      border-right: 1px solid #2865c2;
      padding:0 15px;
      a{
        color: #fff;
        font-size: 1.6rem;
        letter-spacing: 1px;
      }
      &:last-child{
        border:none;
      }
    }
  }
}

@include breakpoint(550px){
  .footer{
    .menu-footer{
      width: 90%;
      left: 50%;
      bottom:0;
      transform: translate(-50%, 0);
      flex-wrap: wrap;
      justify-content: center;
      li{
        width: 100%;
        border:none;
        margin-bottom:10px;
        text-align: center;
      }
    }
  }
}