.header {
    width: 100%;
    height: 680px;
    background: url(img/layout/bg_topo.png) no-repeat top;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        width: 110%;
        height: 100%;
        background: #fff;
        transform: rotate(-8deg);
        position: absolute;
        bottom: -80%;
        z-index: 3;
        left: 0;
    }

    .border {
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: #fff;
            transform: rotate(-38deg);
            position: absolute;
            top: -50%;
            left: -50%;
            z-index: 3;
        }

        .inner {

            &:after,
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: #fff;
                transform: rotate(-38deg);
                position: absolute;
                top: -50%;
                left: -50%;
            }

            &:after {
                background: #00944a;
                z-index: 2;
                margin-left: 5px;
                transform: rotate(-35deg);
                width: calc(100% + 50px);
            }

            &:before {
                background: #ffce00;
                z-index: 1;
                margin-left: 60px;
                -webkit-transform: rotate(-35deg);
                transform: rotate(-32deg);
            }
        }
    }

    .brand {
        position: absolute;
        left: 200px;
        top: 20px;
        z-index: 4;
    }

    .menu {
        position: absolute;
        right: 0;
        top: 40px;

        ul {
            display: flex;

            li {
                margin-right: 40px;

                a {
                    color: #ffffff;
                    font-family: "Helvetica Neue";
                    font-size: 1.7rem;
                    line-height: 40px;
                }
            }
        }
    }

    .title-page {
        text-align: center;

        .icon-battery {
            @include sprite($icon_bateria);
            margin: 0 auto;
        }

        h1 {
            color: #ffffff;
            font-size: 5.2rem;
            font-weight: 700;
            text-transform: uppercase;
            margin: 20px 0;
        }

        p {
            color: #ffffff;
            font-size: 2rem;
            font-weight: 700;
        }
    }

    &.internal {
        height: 550px;

        .brand {
            left: 80px;
        }
    }

    .button-mobile {
        position: absolute;
        right: 20px;
        top: 22px;
        z-index: 999;
        display: none;
        width: 44px;
        height: 38px;
        transform: rotate(0deg);
        @include transition();
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: #172a75;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            @include transition();

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 13px;
            }

            &:nth-child(4) {
                top: 26px;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }

                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
}

@include breakpoint(1200px) {
    .header {
        .border {
            position: absolute;
            left: -250px;
            top: 0;
            height: 100%;
            width: 100%;

            .inner {
                &:before {
                    margin-left: 10px;
                }

                &:after {
                    margin-left: -15px;
                }
            }
        }

        .brand {
            left: 40px;
            max-width: 100px;
        }
        &.internal{
            .brand{
                left: 20px;
                top: 10px;
                max-width: 80px;
            }
        }
    }
}

@include breakpoint(900px) {
    .header {
        height: 500px;
        &:before{
            width: 120%;
        }
        .border {
            display: none;
        }

        .brand {
            left: 20px;
            max-width: 70px;
            top: 13px;
            z-index: 5;
        }

        .menu {
            width: 100%;
            top: 0;
            height: 70px;
            background: #fff;
            z-index: 4;
            .button-mobile{
                display: block;
            }
            ul {
                right: -100%;
                padding: 20px 0;
                background: #172a75;
                position: relative;
                top: 70px;
                flex-wrap: wrap;
                @include transition(all);
                li {
                    text-align: right;
                    width: 100%;

                    a {
                        //color:#1c3390;
                    }
                }

                &.open {
                    right: 0;
                }
            }
        }
        .title-page{
            position: relative;
            top: -20px;
            padding: 0 20px;
            h1{
                font-size: 3.2rem;
            }
        }
        &.internal{
            height: 250px;
            .title-page{
                top:10px;
            }
            .brand{
                left: 20px;
                top: 10px;
                max-width: 80px;
            }
        }
    }
}